@charset "utf-8";
body {
    min-width: 1140px;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 26px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #2F2D2D;
    border-right: 2px solid rgba(140, 140, 140, 0.3);
    border-left: 2px solid rgba(140, 140, 140, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.66);
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

p,
ul,
h2,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

label {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1420px;
    margin: 0 auto;
}

/*Header*/

.main-header {
   padding: 61px;
   display: inline-flex;
   justify-content: space-between;
}

.logo {
    margin-left: 45px;
    cursor: pointer;
	top: 0;
	margin-top: -7px;
}

.header-btns {
	right: 0;
    margin-left: 150%;
}

.sign-btns {
	display: inline-flex;
}

.sign-in {
    cursor: pointer;
	width: 111px;
	margin-right: 40px;
    font-weight: 700;
    font-size: 18px;
    background: transparent;
	color: #434343;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 35px;
}

.sign-in:hover {
    filter: invert(100);
}

.sign-up {
    cursor: pointer;
    width: 111px;
    height: 42px;
    font-weight: 700;
    font-size: 18px;
    margin-right: 40px;
    background: #7F83FF;
    color: white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 35px;
}

.sign-up:hover {
    color: #FB1488;
    background: white;
    border: 3px solid #7F83FF;
}

/*Main*/

main {
    width: 790px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.copypermission {
    content: "";
    position: absolute;
    width: 1420px;
    height: 458px;
    color: transparent;
}

.main-bg {
    margin-top: 150px;
}

.slogan {
    font-size: 45px;
    margin-bottom: 50px;
}

.work-btns {
    margin-left: 50px;
    margin-top: 50px;
}

.hire-btn {
    cursor: pointer;
    width: 151px;
    font-size: 25px;
    margin-right: 40px;
    background: #4A4EDD;
    color: white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.work-btn {
    cursor: pointer;
    width: 151px;
    font-size: 25px;
    margin-right: 40px;
    background: transparent;
    color: #4A4EDD;
    border: solid 3px #4A4EDD;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
}

.work-btn:hover {
    color: white;
    background: #4A4EDD;
}

/*Hire Block*/

.hire-block {
    margin-top: 20%;
}

.hire-header {
    text-align: center;
}

.slider-bubbles {
    margin-top: 100px;
    display: flex;
    text-align: center;
    margin-left: 306px;
    margin-right: 306px;
    margin-bottom: 100px;
}

.bubble {
    cursor: pointer;
    font-size: 22px;
    display: inline-flex;
    padding-bottom: 20px;
    border-bottom: 4px solid #A4A4A4;
    width: 347px;
    padding-left: 65px;
}

.bubble img {
    margin-right: 30px;
    margin-top: -10px;
}

.current-bubble-hire {
    width: 237px;
    color: #7796FE;
    border-bottom: 4px solid #7796FE;
}

.current-bubble-applied-1 {
    width: 347px;
    color: #FD5E5E;
    border-bottom: 4px solid #FD5E5E;
}

.current-bubble-assigned-1 {
    width: 347px;
    color: #49A652;
    border-bottom: 4px solid #49A652;
}

.hire-hubble {
    display: inline-flex;
}

.hubble {
    margin-top: 200px;
    display: flex;
}

.hubble-block-1 {
    z-index: 1;
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 100px;
    width: 700px;
    height: 306px;
    background-image: url(img/purple-block-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: start;
    color: white;
    font-size: 18px;
}

.hubble-block-1 h2 {
    margin-bottom: 30px;
}

.hubble-block-1 p {
    width: 564px;
    height: 211px;
}

.hubble-1-bg {
    z-index: 0;
    margin-top: -50px;
    margin-left: -62px;
 }

 .hubble-block-2 {
    z-index: 1;
    padding: 140px;
    margin-top: 100px;
    margin-right: 100px;
    width: 569px;
    height: 386px;
    background-image: url(img/orange-block-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: start;
    color: white;
    font-size: 18px;
}

.hubble-block-2 h2 {
    margin-bottom: 30px;
}

.hubble-block-2 p {
    height: 240px;
}

/*Work*/

.work-bubble {
    display: inline-flex;
}

.work-block {
  margin-top: 5%;
}

.work-header {
    text-align: center;
}

.current-bubble-work {
    width: 237px;
    color: #FB1488;
    border-bottom: 4px solid #FB1488;
}

.current-bubble-applied-2 {
    width: 347px;
    color: #03D3E2;
    border-bottom: 4px solid #03D3E2;
}

.current-bubble-assigned-2 {
    width: 347px;
    color: #130242;
    border-bottom: 4px solid #130242;
}

.hubble-block-3 {
    z-index: 1;
    padding-top: 110px;
    padding-left: 80px;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 20px;
    width: 599px;
    height: 429px;
    background-image: url(img/deep-purple-block-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: start;
    color: white;
    font-size: 18px;
}

.hubble-block-3 h2 {
    margin-bottom: 30px;
}

.hubble-block-3 p {
    width: 490px;
    height: 224px;
}

.hubble-3-bg {
    z-index: 0;
    margin-left: -64px;
 }

 .hubble-block-4 {
    z-index: 1;
    margin-top: 100px;
    margin-left: 50px;
    padding-top: 150px;
    padding-left: 130px;
    width: 579px;
    height: 444px;
    background-image: url(img/green-block-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: start;
    color: white;
    font-size: 18px;
}

.hubble-block-4 h2 {
    margin-bottom: 30px;
}

.hubble-block-4 p {
    height: 253px;
    width: 496px;
}

.subscribe {
    margin-top: 300px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 200px;
}

.subscribe h1 {
    margin-bottom: 45px;
}

.subscribe-input-block {
    margin-top: 45px;
    display: inline-flex;
}

.subscribe-input-block input {
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(216, 216, 216, 0.38);
    width: 713px;
    height: 93px;
}

.subscribe-input-block button {
    cursor: pointer;
    position: relative;
    left: -5px;
    font-size: 40px;
    font-weight: 700;
    padding-top: 35px;
    padding-left: 60px;
    display: inline-flex;
    outline: none;
    border: none;
    font-size: 27px;
    background-color: #130242;
    color: white;
    border-radius: 5px;
    width: 283px;
    height: 95px;
}

/*Footer*/

footer {
    text-align: center;
    width: 1199px;
}

.footer-details {
    display: flex;
    margin-top: 100px;
    align-items: flex-start;
}

.footer-logo {
    margin-left: 110px;
    margin-right: 20px;
}

.footer-block {
    margin-top: -20px;
    margin-left: 130px;
    text-align: start;
}

.footer-block li {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-block a {
    text-decoration: none;
    color: #544837;
}

.footer-block img {
    vertical-align: middle;
    margin-right: 10px;
}

.footer-bg {
    margin-top: 150px;
    margin-left: 20px;
}
